.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
}


@media only screen and (min-width: 1024px) {
  .video-grid {
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}